<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <main style="height: 100vh; margin-top: 25px">
      <div class="container">
        <!-- WELCOME -->
        <h1>
          Namaste 🙏 <br />
          Welcome!
        </h1>

        <hr />

        <!-- SRINIVASA RAMANUJAN QUOTE -->
        <div class="text-center">
          <div class="row align-items-center">
            <div class="col-12 col-sm-6">
              <img
                style="width: 100%; border-radius: 20px"
                src="images/ramanujan-removebg.png"
                alt="ramanujan image"
              />
            </div>
            <div class="col-12 col-sm-6">
              <div class="m-3" style="border-left: 2px solid green">
                An equation for me has no meaning <br />
                unless it expresses a thought of God. <br />
                <small> Srinivasa Ramanujan </small>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <!-- INTRO -->
        <div class="card" style="margin-top: 25px">
          <div class="card-body">
            Hi, I'm Vishnuprakash Pendem. You can call me Vishkash. <br />
            I'm a Full Stack Developer based in Hyderabad, India, primarily
            working in
            <strong>Node.js</strong> especially with
            <strong>Express</strong> along with <strong>Angular.</strong> <br />
          </div>
        </div>
      </div>
    </main>

    <hr />

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
