<div style="padding: 15px 0">
  <div class="text-center text-white">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a
          target="_blank"
          class="btn text-white btn-floating m-1"
          style="background-color: #333333"
          href="https://github.com/vishkashpvp"
          role="button"
        >
          <i class="fab fa-github"></i>
        </a>

        <a
          target="_blank"
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee"
          href="https://twitter.com/vishkashpvp"
          role="button"
        >
          <i class="fab fa-twitter"></i>
        </a>

        <a
          target="_blank"
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca"
          href="https://linkedin.com/in/vishkash"
          role="button"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>

        <a
          target="_blank"
          class="btn text-white btn-floating m-1"
          style="background-color: rgb(93, 172, 94);"
          href="https://play.google.com/store/apps/dev?id=8547117493939446892"
          role="button"
        >
          <i class="fab fa-google-play"></i>
        </a>
      </section>
    </div>
  </div>

  <p class="text-center">
    <i>
      This website is made using
      <a target="_blank" href="https://expressjs.com">Express</a>
      , the most popular
      <a target="_blank" href="https://nodejs.org">Node.js</a>
      web application framework with the help of
      <a target="_blank" href="https://ejs.co">ejs</a>.
    </i>
  </p>

  <p class="text-center text-muted">&copy; 2022 Vishnuprakash P ExpressJS</p>
</div>
